/* Global Setting */
body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

a,
a:hover,
a:focus,
a:active {
  color: #fff;
  text-decoration: none;
}

/* Typography */
h1 {
  font-size: 75px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

h6 {
  font-size: 15px;
  font-weight: 400;
}

/* Nav Bar Start */
.navbar {
  background-color: #2b3d4f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.offcanvas {
  background-color: #2b3d4f !important;
  width: 300px !important;
}

.btn-close {
  margin: 0 auto;
}

.navbar-brand span {
  color: #16c0f0;
}

.menu-icon {
  color: #16c0f0;
  display: flex;
  padding: 30px 0;
  justify-content: center;
  opacity: 0.6;
}

.nav-link {
  border-top: 1px solid #374757;
  border-bottom: 1px solid #263340;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 100 !important;
  font-size: 17px !important;
}

.navbar .navbar-nav > li a.active {
  color: #16c0f0;
  font-weight: 600;
  background-color: #273445;
}

.nav-link:hover {
  background-color: #273445;
}

ul.navbar-nav.justify-content-end.flex-grow-1.pe-3 {
  padding-right: 0 !important;
}

.menu-small-icon {
  padding: 15px 20px 15px 30px;
}

.pe-3 {
  padding-right: 0 !important;
}

.offcanvas-body {
  padding: 0 !important;
}

button.navbar-toggler {
  box-shadow: none !important;
}

button.navbar-toggler:hover {
  transition: 1s;
  box-shadow: inset 8px 8px 60px 0px #16c0f0 !important;
}

button.btn-close.btn-close-white {
  box-shadow: none !important;
  filter: none !important;
  opacity: 1 !important;
  background: transparent url(/images/xbutton.svg) center/1em auto no-repeat;
}

.language-wraper {
  position: relative;
  margin-left: auto;
  margin-right: 20px;
}

.language-form {
  text-align: center;
  padding: 7px;
  background-color: transparent;
  border: 1px solid #415161;
  border-radius: 0.375rem;
  color: #9fa8b0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 0;
}

.language-form:focus-visible {
  outline: none;
}

.language-form option {
  background-color: #273445;
  color: #c1c5c8;
}

select:focus > option:checked {
  background: #0c7895 !important;
  color: white;
}

/* Home */
.container-home {
  background: url(/images/home.jpg) center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

.container-home .overlay {
  background-color: rgba(39, 37, 37, 0.5);
  width: 100%;
  height: 100%;
}

.home-text-table {
  display: table;
  width: 100%;
  text-align: center;
}

.home-table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 97vh;
  min-height: 100%;
  color: white;
}

.home-table-cell h1 {
  color: #fff;
  font-size: 70px;
  margin: 30px 0;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.6px;
}

.home-table-cell p {
  color: #c3c0c0;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 50px;
}

.typewrite {
  text-decoration: none;
  color: #16c0f0;
  list-style: none;
}

.typewrite:hover {
  color: #16c0f0;
}

.main-btn {
  display: inline-block;
  min-width: 170px;
  background: transparent;
  color: #16c0f0;
  border: 1px solid #16c0f0;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 50px;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  background: #273445;
  color: #fff;
  border: 1px solid #273445;
}

.main-btn:hover {
  transition: 1s;
  box-shadow: inset 8px 8px 80px 0px #16c0f0;
  color: white;
}

.home-table-cell span {
  padding-left: 1px;
}

@media (max-width: 767px) {
  .home-table-cell h1 {
    font-size: 35px;
  }
}
@media (max-width: 575px) {
  .home-table-cell h1 {
    font-size: 25px;
  }
}
/* About Start */
.about {
  background-color: #2b3d4f;
  padding-top: 80px;
  padding-bottom: 40px;
}

.container-about {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.about-image {
  padding: 7px;
  background: linear-gradient(-50deg, rgba(170, 170, 170, 0.1) 45%, transparent 25%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-responsive {
  position: relative;
  opacity: 0.7;
  display: block;
  max-width: 100%;
  height: auto;
}

.col-lg-5 {
  width: 41.6%;
}

.about-image {
  margin-top: 30px;
}

.col-lg-7 {
  width: 58.3%;
}

.col-xs-6 {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.title h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.7px;
  line-height: 1;
  margin: 0;
  margin-top: 50px;
}

.line {
  content: "";
  margin-top: 7px;
  width: 18%;
  height: 1px;
  background: transparent linear-gradient(to right, transparent, #1cb8ee, transparent) repeat scroll 0 0;
}

.title h3 {
  font-family: "Open Sans", sans-serif;
  color: #f0f0f0;
  font-size: 31px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 1.2;
  margin-bottom: 15px;
  margin-top: 25px;
}

.title h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #16c0f0;
}

.title p {
  font-family: "Open Sans", sans-serif;
  color: #c7c5c7;
  line-height: 1.8;
  font-weight: 400;
  padding-bottom: 25px;
  margin-bottom: 0;
  letter-spacing: 0.3px;
}

.title p:last-of-type {
  border-bottom: 1px solid #263340;
}

.personal-info {
  font-family: "Open Sans", sans-serif;
  padding: 25px 0;
  border-top: 1px solid #374757;
}

.personal-info p {
  color: #16c0f0;
  margin-bottom: 12px;
  padding-left: 12px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.personal-info p span {
  color: #c7c5c7;
  font-weight: 400;
  margin-left: 5px;
  text-transform: none;
}

.personal-info-btn {
  margin-top: 30px;
}

.non-text, .non-text:hover {
  text-decoration: none;
  color: #c7c5c7;
}

@media (max-width: 1300px) {
  .container-about {
    width: 1170px;
  }
}
@media (max-width: 1200px) {
  .container-about {
    width: 1070px;
  }
  .personal-info-btn {
    margin-top: 10px;
  }
}
@media (max-width: 1100px) {
  .container-about {
    width: 970px;
  }
  .title h2 {
    font-size: 2.5vh;
  }
  .title h3 {
    font-size: 2vh;
  }
  .title h5 {
    font-size: 1.5vh;
  }
  .title p {
    font-size: 1.5vh;
  }
  .personal-info {
    font-size: 1.5vh;
  }
}
@media (max-width: 990px) {
  .container-about {
    width: 500px;
  }
  .personal-info {
    position: relative;
  }
}
@media (max-width: 530px) {
  .container-about {
    max-width: 80%;
    padding: 0;
  }
  .personal-info {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }
  .personal-info-row {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .info-block p {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
  }
}
/* Experience Start */
.experience {
  background-color: #263446;
  display: flex;
}

.conteiner-experience {
  color: white;
  width: 1170px;
  display: flex;
  margin: auto;
}

.experience-wraper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto 50px 50px;
  border-radius: 5px;
}

.experience-block-wraper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  border-radius: 5px;
}

.experience-blocks {
  padding: 40px 30px;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-basis: 31%;
  background: #2b3d4f;
  border-bottom: 2px solid rgba(22, 192, 240, 0.65);
  align-items: center;
  text-align: center;
}

.experience-blocks h4 {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.experience-blocks p {
  line-height: 1.8;
  margin-bottom: 0;
  font-weight: 400;
  color: #c7c5c7;
}

.experience-icon {
  text-align: center;
}

.experience-icon i {
  background: #2b3d4f;
  color: #16c0f0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 25px;
  border: 1px solid #16c0f0;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 30px;
}

.experience-title h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.7px;
  line-height: 1;
  margin: 0;
  margin-top: 10vh;
  margin-bottom: 15px;
}

.experience-line {
  content: "";
  width: 230px;
  height: 1px;
  background: transparent linear-gradient(to right, transparent, #1cb8ee, transparent) repeat scroll 0 0;
}

.experience-line-en {
  content: "";
  width: 100px;
  height: 1px;
  background: transparent linear-gradient(to right, transparent, #1cb8ee, transparent) repeat scroll 0 0;
}

.experience-title {
  display: block;
}

@media (max-width: 850px) {
  .experience-blocks {
    flex-basis: 49%;
  }
}
@media (max-width: 530px) {
  .experience-blocks {
    flex-basis: 100%;
  }
  .experience-title h2 {
    margin-top: 100px;
  }
}
.cv {
  background-color: #2b3d4f;
  padding-top: 50px;
  padding-bottom: 40px;
  color: white;
}

.cv-title {
  margin-top: 6vh;
}

.cv-line {
  width: 170px;
}

.cv-line-en {
  width: 130px;
}

.cv-container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.cv-image {
  border: 1px solid #16c0f0;
  position: relative;
  opacity: 0.9;
  width: 35%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  display: block;
  transition: 0.5s ease-in-out;
}

.cv-image-wrapper {
  text-align: center;
}

.cv-button {
  margin-top: 30px;
}

.cv-image:hover {
  filter: brightness(70%);
}

@media (max-width: 530px) {
  .cv-title {
    margin-top: 50px;
    text-align: center;
  }
  .cv-line {
    margin: auto;
    width: 140px;
  }
  .cv-image {
    width: 86%;
  }
}
/* Portfolio Start */
.portfolio {
  background-color: #263446;
}

.container-portfolio {
  color: white;
  max-width: 1200px;
  margin: auto;
}

.portfolio-title {
  padding: 100px 0px 40px 40px;
}

.portfolio-line {
  width: 230px;
}

.portfolio-line-en {
  width: 195px;
}

.portfolio-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-block .item-portfolio {
  overflow: hidden;
  opacity: 0.8;
  transform: scale(1) translate3d(0px, 0px, 0px);
  transition: all 0.4s ease-out 0ms;
  max-height: 300px;
  margin-bottom: 50px;
  border: 2px solid rgba(43, 61, 79, 0.9);
}

.item-portfolio:hover .portfolio-overlay {
  visibility: visible;
  transform: scale(1);
  transition-duration: 0.6s;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(43, 61, 79, 0.9);
  transform: scale(0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.portfolio-overlay h4 {
  padding: 20px 0;
}

.portfolio-overlay .item-category {
  margin-bottom: 30px;
}

.portfolio-overlay a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.portfolio-overlay a:hover {
  color: #16c0f0;
}

.portfolio-overlay a .fa {
  padding: 10px;
  text-decoration: none;
  border: 1px solid #273445;
  border-radius: 50%;
  background-color: #273445;
}

.portfolio-overlay a .fa:hover {
  background-color: #16c0f0;
  transition: 1s;
  box-shadow: inset 8px 8px 80px 0px #16c0f0;
  color: white;
}

@media (max-width: 530px) {
  .portfolio-block {
    padding: 0 20px;
  }
  #pp-nav.right {
    right: 10px !important;
  }
}
/* Contact Start */
.contact {
  background-color: #2b3d4f;
}

.container-contact {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.contact-title {
  padding: 100px 0 40px 40px;
}

.contact-line {
  width: 140px;
}

.contact-line-en {
  width: 140px;
}

.contact-wraper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-wraper .contact-info {
  flex: 1 1 250px;
}

.contact-wraper .contact-form {
  flex: 2 1 450px;
}

.contact-info {
  background: #263446;
  border: 3px solid #374757;
  box-shadow: 0 4px 5px rgba(37, 50, 66, 0.7);
  padding: 15px 20px;
}

.contact-box {
  padding: 25px 0;
  position: relative;
  border-bottom: 1px solid #263340;
  border-top: 1px solid #374757;
}

.contact-box h2 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #16c0f0;
  text-align: center;
}

.contact-box p {
  font-size: 13px;
  margin-bottom: 0;
  line-height: 20px;
  font-weight: 600;
  color: #c7c5c7 !important;
  letter-spacing: 1px;
  text-align: center;
}

.contact-box i {
  position: absolute;
  top: 23px;
  left: 12px;
  font-size: 55px;
  transform: rotate(-18deg);
  opacity: 0.12;
  color: #5e7184;
}

.contact-box:first-child i,
.contact-box:nth-child(3) {
  transform: rotate(0deg);
}

.contact-phone i {
  transform: rotate(0deg);
}

.contact-location {
  border-top: none;
}

.contact-location p {
  color: white;
}

.contact-form {
  background: #263446;
  border: 3px solid #374757;
  box-shadow: 0 4px 5px rgba(37, 50, 66, 0.7);
  padding: 25px 20px;
}

.content-contact-form {
  display: flex;
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
  padding: 0px 22%;
  padding-bottom: 3rem;
}

.content-contact-form h2 {
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 100;
}

/* Contact Form Start */
.col input {
  background: #2b3d4f;
  border-color: #2b3d4f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  padding: 1%;
  width: 100%;
  margin-bottom: 2%;
  color: white;
}

.form-control {
  border-radius: 0 !important;
}

.form-control::-moz-placeholder {
  color: #c7c5c7 !important;
}

.form-control:-ms-input-placeholder {
  color: #c7c5c7 !important;
}

.form-control::placeholder {
  color: #c7c5c7 !important;
}

.form-control:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  background: #2b3d4f !important;
  border-color: #2b3d4f !important;
  color: white !important;
}

.form-control[type=text] {
  padding-left: 3%;
}

.form-control[type=email] {
  padding-left: 3%;
}

.form-control[type=subject] {
  padding-left: 3%;
}

.form-control[mame=Message] {
  padding-left: 3%;
}

.padding-control::-moz-placeholder {
  padding-left: 0;
}

.padding-control:-ms-input-placeholder {
  padding-left: 0;
}

.padding-control::placeholder {
  padding-left: 0;
}

.text-area {
  background: #2b3d4f;
  border-color: #2b3d4f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1%;
  width: 100%;
  margin-bottom: 2%;
}

.text-area textarea {
  background: transparent;
  border: none;
  width: 100%;
  outline: none;
  resize: none;
  color: white !important;
}

.text-area textarea::-webkit-resizer {
  display: none;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain {
  width: 65%;
}

.b-contain span {
  line-height: 2;
  font-family: inherit;
  color: #c7c5c7 !important;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 3.2rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  width: 90%;
}

.b-contain input[type=checkbox] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2.5rem;
  background: transparent;
  border: 2px solid #c7c5c7;
  border-radius: 2.009rem;
}

.b-contain input[type=checkbox] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 1.2rem;
  top: 0.5rem;
  width: 0.25rem;
  height: 0.6rem;
  border: solid #2F2F2F;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input {
  border-color: #c7c5c7;
  transition: 1s;
  box-shadow: inset 8px 8px 80px 0px #16c0f0;
}

.b-contain .b-input::before {
  content: "";
  display: block;
  position: absolute;
  left: 0.1rem;
  top: -0.1rem;
  width: 4rem;
  height: 4rem;
  margin-left: -0.85rem;
  margin-top: -0.85rem;
  background: #16c0f0;
  border-radius: 2rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

@-webkit-keyframes b-ripple-duplicate {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes b-ripple-duplicate {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.b-contain input + .b-input::before {
  -webkit-animation: b-ripple 250ms ease-out;
  animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before {
  -webkit-animation-name: b-ripple-duplicate;
  animation-name: b-ripple-duplicate;
}

.b-contain input:focus + .b-input::before {
  visibility: visible;
}

.b-contain input:checked ~ .b-input {
  background: #16c0f0;
  border-color: #16c0f0;
}

.send-button {
  margin-top: 2.5%;
  display: inline-block;
  min-width: 170px;
  background: transparent;
  color: #16c0f0;
  border: 1px solid #16c0f0;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 50px;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  background: #2b3d4f;
  color: #c7c5c7;
  border: 1px solid #273445;
}

.send-button:hover {
  transition: 1s;
  box-shadow: inset 8px 8px 80px 0px #16c0f0;
  color: white;
}

/* Footer Start */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #374757;
  border-bottom: 1px solid #263340;
}

footer span {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  color: #c7c5c7;
}

@media (max-width: 920px) {
  footer {
    margin-top: 5vh;
    position: relative;
  }
}/*# sourceMappingURL=main.css.map */