/* Global Setting */
body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  color: #fff;
  text-decoration: none;
}

/* Typography */
h1 {
  font-size: 75px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

h6 {
  font-size: 15px;
  font-weight: 400;
}

/* Nav Bar */
.navbar {
  background-color: #2b3d4f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.offcanvas {
  background-color: #2b3d4f !important;
  width: 300px !important;
}

.btn-close {
  margin: 0 auto;
}

.menu-icon {
  color: orange;
  display: flex;
  padding: 30px 0;
  justify-content: center;
}

.nav-link {
  border-top: 1px solid #374757;
  border-bottom: 1px solid #263340;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 100 !important;
  font-size: 17px !important;
}

.navbar .navbar-nav > li a.active {
  color: #16c0f0;
  font-weight: 600;
  background-color: #273445;
}

.nav-link:hover {
  background-color: #273445;
}

ul.navbar-nav.justify-content-end.flex-grow-1.pe-3 {
  padding-right: 0 !important;
}

.menu-small-icon {
  padding: 15px 20px 15px 30px;
}

.pe-3 {
  padding-right: 0 !important;
}

.offcanvas-body {
  padding: 0 !important;
}

button.navbar-toggler {
  box-shadow: none !important;
}

button.navbar-toggler:hover {
  transition: 1s;
  box-shadow: inset 8px 8px 60px 0px #16c0f0 !important;
}

button.btn-close.btn-close-white {
  box-shadow: none !important;
  filter: none !important;
  opacity: 1 !important;
  background: transparent url(/images/xbutton.svg) center/1em auto no-repeat;
}

/* Home */
.container-home {
  background: url(/images/home.jpg) center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

.container-home .overlay {
  background-color: rgba(39, 37, 37, 0.5);
  width: 100%;
  height: 100%;
}

.home-text-table {
  display: table;
  width: 100%;
  text-align: center;
}

.home-table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 97vh;
  min-height: 100%;
  color: white;
}

.home-table-cell h1 {
  color: #fff;
  font-size: 70px;
  margin: 30px 0;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.6px;
}

.home-table-cell p {
  color: #c3c0c0;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 50px;
}

.typewrite {
  text-decoration: none;
  color: #16c0f0;
  list-style: none;
}

.typewrite:hover {
  color: #16c0f0;
}

.main-btn {
  display: inline-block;
  min-width: 170px;
  background: transparent;
  color: #16c0f0;
  border: 1px solid #16c0f0;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 50px;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  background: #273445;
  color: #fff;
  border: 1px solid #273445;
}

.main-btn:hover {
  transition: 1s;
  box-shadow: inset 8px 8px 80px 0px #16c0f0;
  color: white;
}

.home-table-cell span {
  padding-left: 1px;
}

@media (max-width: 767px) {
  .home-table-cell h1 {
    font-size: 35px;
  }
}
@media (max-width: 575px) {
  .home-table-cell h1 {
    font-size: 25px;
  }
}
/* O Mnie */
.about {
  background-color: #2b3d4f;
  padding-top: 80px;
  padding-bottom: 40px;
}

.container-about {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.about-image {
  padding: 7px;
  background: linear-gradient(-50deg, rgba(170, 170, 170, 0.1) 45%, transparent 25%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-responsive {
  position: relative;
  opacity: 0.7;
  display: block;
  max-width: 100%;
  height: auto;
}

.col-lg-5 {
  width: 41.6%;
}

.about-image {
  margin-top: 30px;
}

.col-lg-7 {
  width: 58.3%;
}

.col-xs-6 {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.title h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.7px;
  line-height: 1;
  margin: 0;
  margin-top: 50px;
}

.line {
  content: "";
  margin-top: 7px;
  width: 18%;
  height: 1px;
  background: transparent linear-gradient(to right, transparent, #1cb8ee, transparent) repeat scroll 0 0;
}

.title h3 {
  font-family: "Open Sans", sans-serif;
  color: #f0f0f0;
  font-size: 31px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 1.2;
  margin-bottom: 15px;
  margin-top: 25px;
}

.title h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #16c0f0;
}

.title p {
  font-family: "Open Sans", sans-serif;
  color: #c7c5c7;
  line-height: 1.8;
  font-weight: 400;
  padding-bottom: 25px;
  margin-bottom: 0;
  letter-spacing: 0.3px;
}

.title p:last-of-type {
  border-bottom: 1px solid #263340;
}

.personal-info {
  font-family: "Open Sans", sans-serif;
  padding: 25px 0;
  border-top: 1px solid #374757;
}

.personal-info p {
  color: #16c0f0;
  margin-bottom: 12px;
  padding-left: 12px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.personal-info p span {
  color: #c7c5c7;
  font-weight: 400;
  margin-left: 5px;
  text-transform: none;
}

.personal-info-btn {
  margin-top: 30px;
}

.non-text, .non-text:hover {
  text-decoration: none;
  color: #c7c5c7;
}

@media (max-width: 1300px) {
  .container-about {
    width: 1170px;
  }
}
@media (max-width: 1200px) {
  .container-about {
    width: 1070px;
  }
  .personal-info-btn {
    margin-top: 10px;
  }
}
@media (max-width: 1100px) {
  .container-about {
    width: 970px;
  }
  .title h2 {
    font-size: 2.5vh;
  }
  .title h3 {
    font-size: 2vh;
  }
  .title h5 {
    font-size: 1.5vh;
  }
  .title p {
    font-size: 1.5vh;
  }
  .personal-info {
    font-size: 1.5vh;
  }
}
@media (max-width: 990px) {
  .container-about {
    width: 700px;
  }
}/*# sourceMappingURL=main.css.map */